* {
    align-content: center;
    text-align: center;
    padding: 10px;
    display: center;
}

body {
    background-color: rgb(167, 186, 247);
}

header {
    display: inline;
}
#highscore {
    float: left;
    font-weight: bold;
}

#timer {
    float: right;
    font-weight: bold;
}

h1 {
    padding-top: 50px;
}

ol {
    list-style-type: none;
}

p {
    font-weight: bold;
    font-size: large;
}
button {
    color: white;
    background-color: rgb(30, 67, 148);
}